@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Karla';
  background: url('../public/tippy-bg.jpg') top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.7);
  @apply bg-gray-800 text-white
}

